/* 
Project Name: Monthly Resolutions
Client: One Month
Author: Christopher Castig | @castig
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

body {
	background:url(../images/notebook.png); 
	color: #000000;
 	font-family: 'Lato', sans-serif;
 	line-height: 1.7; /* line-height is unit-less */
 	font-size: 100%;
	width: 1000px;
	margin: 0 auto 0 auto;
	padding: 0 150px 0 150px;
	line-height: 25px;
	
}

.subtext {
	color:#C0C0C0;
}

.round {
	border-radius: 50%;
}

#header{
	padding: 40px 0 15px 0;
}

p{
	margin:0;
}

h1 {
	margin:0;
}

#main {
	float:left;
	background:#FFFFFF;
	padding-right: 40px;
}

#sidebar {
	float:left;
	background:#FFFFFF;
	width: 300px;
	margin: 0 0 0 10px;
	padding: 20px;
	padding-bottom: 40px;
}

a {
	color:#FF9900;
	text-decoration:none;
	font-weight:bold;
}

#sidebar ul {
	margin: 20px;
}

#sidebar blockquote{
	border-left: 4px solid #CCC;
  	padding-left: 8px;
	margin: 0 10px 0 0;
}

#quote {
	font-style:italic;
}

#sidebar h3 {
	color:#111111;
	margin-top: 40px;
}


.part {
	padding: 40px 10px 40px 10px;
	width:inherit;

}

.part hr {
	color:#C0C0C0;
	width:inherit;
}

.part p {
	font-size: 90%;
}

#container {
	width: 1000px;
}

#container h3{
	margin: 0,0,0,0;
}
/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/


