@charset "utf-8";
/* General Designe */

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background:url(../image/blured-background.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}

p {
	font-family: 'Alata', sans-serif;
	line-height: 1.25rem;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	padding: 1.5rem;
	font-weight:bold;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.90rem;
	padding:0.65rem;
}

strong {
	font-weight:bold;
}

.left {
	float:left;
}

.right {
	float: right;
}

.center {
  
}

.container {
	width: 1000px;
	margin: 0 auto 0 auto;
	padding-top: 3rem;
	padding-bottom: 3rem; 
}

.container section {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.container .redborder{
	border-right: 7.5px solid #92140C;
}

.container .redborder:nth-child(even){
	border-left: 7.5px solid #92140C;
	border-right: none;
}

.header {
	text-align:center;
	margin-bottom: 1rem;
}

.header img{
	width:100%;
	height:26%;
	object-fit: cover;
}

.intro {
	background: #0075A2;
	text-align: justify;
	padding: 1rem;
	margin-bottom: 7px;
	color: #EDF6F9;
}

.middle{
	width: 100%;
	text-align:justify;
}

.middle img{
	width: 30%;
	object-fit: cover;
	padding: 3px;
	padding-top: 4rem;
}

.middle section{
	width: 70%;
	border-left:none;
	border-right:none;
	padding: 5px;
}


.windfarm{
	padding: 1rem;
	text-align: justify;  
	background: #F5FAFC;
	color: #003A52;
}

.centralalign {
	text-align:center;	
}

